[mysqld]
default_authentication_plugin=mysql_native_password
#local-infile = 0
#max_connections = 350
#key_buffer = 150M
#myisam_sort_buffer_size = 64M
#join_buffer_size = 3M
#read_buffer_size = 3M
#sort_buffer_size = 5M
#max_heap_table_size = 16M
#table_cache = 5000
#thread_cache_size = 286
#interactive_timeout = 25
wait_timeout = 7000
connect_timeout = 15
max_allowed_packet = 256M
#max_connect_errors = 10
#query_cache_limit = 3M
#query_cache_size = 150MB
#query_cache_type = 1
#tmp_table_size = 16M

#innodb_buffer_pool_size=1024M
#key_buffer_size=300M

table_open_cache = 500
